
    <footer>
        <nav class="navbar navbar-light nav-background py-3 brown">
            <div class="container">
                <p class="display-6">Larkspur and Lilies</p>
                <p>Your one stop shop for all your flower needs</p>
            </div>
            <div class="container navbar-expand-md">
                <ul class="navbar-nav mx-auto">
                    <li><a class="nav-link" href="/flowersFor/birthday">Birthday Flowers</a></li>
                    <li><a class="nav-link" href="/flowersFor/anniversary">Anniversary</a></li>
                    <li><a class="nav-link" href="/flowersFor/BestSellers">Best Sellers</a></li>
                    <li><a class="nav-link" href="/flowersFor/sympathy">Get Well Bouquets </a></li>
                    <li><a class="nav-link" href="/flowersFor /congratulations">Congratulations</a></li>
                </ul>
            </div>
        </nav>
        <button>Return to Top</button>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
</body>
</html>
