
    <footer>
          <nav class="navbar navbar-expand-md navbar-light nav-background py-3 brown ">
            <div class="mx-auto d-flex flex-column">
              <div class="text-center d-flex" >
                <div class="text-center w-100">
                  <p class="display-6"><a href="/" class="brown link-hover display-6">Larkspur and Lilies</a></p>
                  <p class="">Your one stop shop for all your flower needs</p>
                  <a href="/cart" class="brown link-hover d-none d-sm-block d-md-none">Cart <i class="fa fa-shopping-cart px-1" aria-hidden="true"></i></a>
                  <button class="btn brown link-hover d-md-none"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#navMenu"
                          aria-controls="navMenu"
                          aria-expanded="false"
                          aria-label="Toggle navigation">
                    <span class="">More Flowers Here   <i class="fa fa-bars" aria-hidden="true"></i></span>
                  </button>
                </div>
              </div>

              <div class="collapse navbar-collapse" id="navMenu">
                <ul class="nav flex-column flex-md-row  justify-content-center text-center">
                  <li class="nav-item"><a href="/flowersFor/birthday" class="nav-link brown link-hover" >Birthday Flowers</a></li>
                  <li class="nav-item"><a href="/flowersFor/anniversary" class="nav-link brown link-hover">Anniversary</a></li>
                  <li class="nav-item"><a href="/flowersFor/best%20Sellers" class="nav-link brown link-hover">Best Sellers</a></li>
                  <li class="nav-item"><a href="/flowersFor/sympathy" class="nav-link brown link-hover">Get Well Bouquets </a></li>
                  <li class="nav-item"><a href="/flowersFor/congratulations" class="nav-link brown link-hover">Congratulations</a></li>
                </ul>
              </div>

            </div>
          </nav>
          <div class="container d-flex justify-content-between mx-auto brown">
            <p>15% off all orders today!</p>
            <a class="brown link-hover" href="/deals">Shop Here for Discounted Bouquets</a>
          </div>
          <div class="text-center d-flex" >
            <div class="text-center w-100">
        <a href="/"><button>Return to Top</a></button></a>
            </div>
          </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
</body>
</html>
