<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <%- include('partials/header') -%>
    <div>
        <h3>Flower of the day!</h3>
        <img src="/imgs/field.jpg" alt="">
    </div>
    <main>
    <div>
        <h2>Birthday Flowers</h2>
        <a href="/flowersFor/birthday">Birthday</a>
        <img class = "birthday_image_class" src="imgs/mums.jpg" alt="">
    </div>
    <div>
        <h2>Anniversary Flowers</h2>
        <a href="/flowersFor/anniversary">Anniversary</a>
        <img class="anniversary_image_class" src="imgs/zinnia.jpg" alt="">
    </div>

    <div>
        <h2>Best Sellers</h2>
        <a href="/flowersFor/best%20Sellers">Best Sellers</a>
        <img class="Best_Seller_image_class" src="imgs/tulips.jpg" alt="Tulips">
    </div>

    <div>
        <h2>Get Well Bouquets</h2>
        <a href="/flowersFor/sympathy">Sympathy</a>
        <img class="sympathy_image_class" src="imgs/roses.jpg" alt="Roses">

    </div>

    <div>
        <h2>Congratulations Gift</h2>
        <a href="/flowersFor/congratulations">Congratulations</a>
        <img class="congratulations_images_class" src="imgs/flowers.jpg" alt="">

    </div>
    </main>
<%- include('partials/footer') -%>
</body>
</html>
