<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <header>15% off all orders today!</header>
    <header>
        <h1>Larkspur and Lilies</h1>
        <nav>
            <ul>Birthday Flowers</ul>
            <ul>Anniversary</ul>
            <ul>Best Sellers</ul>
            <ul>Get Well Bouquets </ul>
            <ul>Congratulations</ul>
        </nav>
    </header>

    <div>
        <h3>Flower of the day!</h3>
        <img src="/public/imgs/flowers.jpg" alt="">
    </div>
    <main>
    <div>
        <h2>Birthday Flowers</h2>
        <a href="/category"></a>
    </div>
    <div>
        <h2>Anniversay Flowers</h2>
    </div>

    <div>
        <h2>Best Sellers</h2>
    </div>

    <div>
        <h2>Get Well Bouquets</h2>
    </div>

    <div>
        <h2>Congratulations Gift</h2>
    </div>
    </main>
<footer>
    <h6>Larkspur and Lilies</h6>
</footer>
</body>
</html>
