<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <%- include('partials/header') -%>
    <div>
        <h1>Welcome to Larkspur and Lilies!</h1>
        <p>Feel free to purchase one of our beautiful flowers! </p>
        <img src="/imgs/field.jpg" alt="">
    </div>
    <main>
    <div>
        <h2>Birthday Flowers</h2>
        <a href="/flowersFor/birthday">Birthday</a>
        <a href="/flowersFor/birthday"><img class = "birthday_image_class" src="imgs/mums.jpg" alt=""></a>
    </div>
    <div>
        <h2>Anniversary Flowers</h2>
        <a href="/flowersFor/anniversary">Anniversary</a>
        <a href="/flowersFor/anniversary"><img class="anniversary_image_class" src="imgs/zinnia.jpg" alt=""></a>
    </div>

    <div>
        <h2>Best Sellers</h2>
        <a href="/flowersFor/best%20Sellers">Best Sellers</a>
        <a href="/flowersFor/best%20Sellers"><img class="Best_Seller_image_class" src="imgs/tulips.jpg" alt="Tulips"></a>
    </div>

    <div>
        <h2>Get Well Bouquets</h2>
        <a href="/flowersFor/sympathy">Sympathy</a>
        <a href="/flowersFor/sympathy"><img class="sympathy_image_class" src="imgs/roses.jpg" alt="Roses"></a>

    </div>

    <div>
        <h2>Congratulations Gift</h2>
        <a href="/flowersFor/congratulations">Congratulations</a>
        <a href="/flowersFor/congratulations"><img class="congratulations_images_class" src="imgs/flowers.jpg" alt=""></a>

    </div>
    </main>
<%- include('partials/footer') -%>
</body>
</html>
