<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <%- include('partials/header') -%>
    <div>
        <h3>Flower of the day!</h3>
        <img src="/public/imgs/flowers.jpg" alt="">
    </div>
    <main>
    <div>
        <h2>Birthday Flowers</h2>
<<<<<<< HEAD
        <a href=""></a>
=======
        <a href="/flowersFor/birthday">Birthday</a>
>>>>>>> main
    </div>
    <div>
        <h2>Anniversay Flowers</h2>
        <a href="/flowersFor/anniversary">Anniversary</a>
    </div>

    <div>
        <h2>Best Sellers</h2>
        <a href="/flowersFor/best%20Sellers">Best Sellers</a>
    </div>

    <div>
        <h2>Get Well Bouquets</h2>
        <a href="/flowersFor/sympathy">Sympathy</a>
    </div>

    <div>
        <h2>Congratulations Gift</h2>
        <a href="/flowersFor/congratulations">Congratulations</a>
    </div>
    </main>
<%- include('partials/footer') -%>
</body>
</html>
