body {
  background-color: #d7e2de;
}
.hidden {
  display: none;
}
.nav-background {
  background-color: #8cc9ab;
}
.link-hover:hover {
  color: #802d39;
}
.header-title, .brown, li{
  text-decoration: none;
  color: #6f5e4f;
}
.cartImage {
  width:5rem
}
td {
  vertical-align: middle;
}
select {
  border: none;
  background-color: #d7e2de;
  text-align: center;
}

/* add to cart animation */

.shopping-cart {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  outline: .5rem solid transparent;
  
  text-align:center;
  line-height: 4rem;

  cursor: pointer;
  box-shadow: 0 .2rem .6rem #0006;
  transition: .5s ease-in-out;
  z-index: 100;
}

.shopping-cart.active {
  width: 8rem;
  border-radius: .8rem;
}

.shopping-cart.active > span{
  margin-left: -4rem;
}

.arrow:hover, .shopping-cart:hover {
  outline: .5rem solid #fff5;
}

.shopping-cart::before {
  position: absolute;
  content: attr(data-product-count);

  top: -.5rem;
  right: -.5rem;

  width: 2rem;
  height: 2rem;

  color: #fff;
  background-color: #f00;
  font-family: sans-serif;
  
  border-radius: 50%;
  
  text-align:center;
  line-height: 2rem;
}

.cart-icon {
  font-size: 2rem;
  transition: .5s ease-in-out;
}