body {
  transition: filter 1s; /* Change "1s" to any time you'd like */
  background-color: #d7e2de;
}
body.grayscale {
  /* grayscale(1) makes the website grayscale */
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.hidden {
  display: none;
}
.nav-background {
  background-color: #8cc9ab;
}
.link-hover:hover {
  color: #802d39;
}
.header-title,
.brown,
li {
  color: #6f5e4f;
}
